[submodule "webstlink"]
	path = vendor/protocols/webstlink
	url = https://github.com/devanlai/webstlink/
[submodule "webdfu"]
	path = vendor/protocols/webdfu
	url = https://github.com/devanlai/webdfu
[submodule "webdap"]
	path = vendor/protocols/webdap
	url = https://github.com/ARMmbed/dapjs
[submodule "webserial"]
	path = vendor/protocols/webserial
	url = https://github.com/yanxke/stm32webflash
